# https://github.com/github/linguist#vendored-code
Makefile linguist-vendored=true
meta/* linguist-vendored=true
Sources/Pony/threads.m linguist-vendored=true
Sources/Pony/atomics.h linguist-vendored=true
Sources/Pony/messageq.h linguist-vendored=true
Sources/Pony/mpmcq.h linguist-vendored=true

